/*CSS Stylesheet*/
:root {
    --header-color: green;
    --main-background-color: white;
    --card-background-color: red;
    --modal-padding: 1rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 6rem calc(100vh - 6rem);
}

button:active {
    box-shadow: inset 0 0 4px 1px black;
}

/*MODAL-----------------------*/
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal.active {
    display: flex;
}
.modal > div {
    background-color: white;
    border-radius: 8px;
    padding: var(--modal-padding);
    width: 90%;
    height: 80%;
    overflow: auto;
    position: relative;
}
.modal > div > div > * {
    display: block;
    margin-inline: auto;
}
.modal h2 {
    display: block;
    width: min-content;
    white-space: nowrap;
    margin-inline: auto;
    height: 2rem;
}
.cancel {
    right: .5rem;
    top: .5rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
}
.modal > div > div {
    height: calc(92% - var(--modal-padding) - 1rem);
    overflow: auto;
}
.modal label {
    width: min-content;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
}
.modal input:first-of-type {
    border-radius: 8px;
    padding: .5rem;
    width: calc(100% - var(--modal-padding) - 20px);
}
.modal textarea {
    height: 20rem;
    overflow: auto;
    resize: none;
    padding: .5rem;
    border-radius: 8px;
    width: calc(100% - var(--modal-padding) - 20px);
}
.modal input[type=date] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal div > div > button {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin-top: 3rem;
}

/*HEADER----------------------*/
header {
    background-color: var(--header-color);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
header h1 {
    white-space: nowrap;
    grid-column: 2/3;
    justify-self: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: 1000;
}
header button {
    height: 4rem;
    width: 4rem;
    justify-self: end;
    border-radius: 8px;
    margin-right: 1rem;
    border-style: none;
    background-color: white;
    font-weight: 500;
    font-size: 4rem;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
}

/*MAIN-----------*/
main {
    background-color: var(--main-background-color);
    overflow-y: scroll;
    padding: 1rem;
}

/*CARD-----------*/
.card {
    background-color: var(--card-background-color);
    margin-bottom: 1rem;
    border-radius: 8px;
    height: 10rem;
    padding: 1rem;
    column-gap: 1rem;
    display: grid;
    grid-template-columns: .5fr 3fr 5rem .5fr;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    grid-template-areas: 
    "upArrow   title       created xButton"
    "upArrow   description created xButton"
    "downArrow description dueDate checkButton"
    "downArrow description dueDate checkButton"
    ;
}
.card.completed :not(button) {
    text-decoration: line-through;
}
.card.completed {
    background-color: dimgrey;
}
.upArrow {
    grid-area: upArrow;
}
.title {
    grid-area: title;
    overflow: auto;
}
.created {
    grid-area: created;
}
.xButton {
    grid-area: xButton;
}
.downArrow {
    grid-area: downArrow;
}
.description {
    grid-area: description;
    overflow-y: scroll;
}
.dueDate {
    grid-area: dueDate;
}
.checkButton {
    grid-area: checkButton;
}